.about{
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,.97);
    overflow-x: hidden;

    &__container{
        height: 90vh;
        display: flex;
        flex-direction: column;
        z-index: 2;
        padding: 0 10px;
    }

    &__me{
        display: flex;
        justify-content: space-between;
    }

    &__description{
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        padding: 30px 0;
        transform: translateX(0);
        opacity: 1;
        animation-name: show-desc;
        animation-duration: 2s;
    }

    &__name span{
        font-weight: 700;
        font-size: 40px;
        color: #ffffff;
        transition: all 0.5s ease-in-out;
        animation: animate 4.4s ease-in-out;
    }
    &__name span:nth-child(1){
        animation-delay:0.2s
    }
    &__name span:nth-child(2){
        animation-delay:0.3s
    }
    &__name span:nth-child(3){
        animation-delay:0.4s
    }
    &__name span:nth-child(4){
        animation-delay:0.5s
    }
    &__name span:nth-child(5){
        animation-delay:0.6s
    }
    &__name span:nth-child(6){
        animation-delay:0.7s
    }
    &__name span:nth-child(7){
        animation-delay:0.8s
    }
    &__name span:nth-child(8){
        animation-delay:1s
    }
    &__name span:nth-child(9){
        animation-delay:1.2s
    }
    &__name span:nth-child(10){
        animation-delay:1.4s
    }
    &__name span:nth-child(11){
        animation-delay:1.6s
    }
    &__name span:nth-child(12){
        animation-delay:1.8s
    }
    &__name span:nth-child(13){
        animation-delay:2s
    }
    &__name span:nth-child(14){
        animation-delay:2.2s
    }
    &__name span:nth-child(15){
        animation-delay:2.6s
    }
    &__name span:nth-child(16){
        animation-delay:2.8s
    }
    &__name span:nth-child(17){
        animation-delay:3s
    }
    &__name span:nth-child(18){
        animation-delay:3.2s
    }
    &__name span:nth-child(19){
        animation-delay:3.6s
    }
    &__name span:nth-child(20){
        animation-delay:3.8s
    }
    &__name span:nth-child(21){
        animation-delay:4s
    }
    &__name span:nth-child(22){
        animation-delay:4.2s
    }
    &__name span:nth-child(23){
        animation-delay:4.4s
    }
    @keyframes animate {
        0%{
            transform: translateY(0);
            margin-left:0;
        }
        50%{
            transform: translateY(-15px);
            margin-left:10px;
            text-shadow: 0 10px 5px rgb(168, 168, 168)
        }
        100%{
            transform: translateY(0);
            margin-left:0;
        }
    }


    &__position{
        font-size: 28px;
        font-weight: 600;
    }

    &__info{
        font-style: italic;
        padding-bottom: 20px;

        &--title{
            font-size: 32px;
            font-weight: 700;
            color: #e73600;
        }
    }

    @keyframes show-desc {
        from{
            transform: translateX(800px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__position{
        padding: 10px 0;
    }

    &__info{
        max-width: 800px;
        width: 100%;
    }

}

.me{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    transform: scale(1) translateX(0);
    opacity: 1;
    animation-name: show-photo;
    animation-duration: 2s;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 20px 0;
    border: 5px solid transparent;
    background: linear-gradient(45deg, #035e85, #960957) border-box;
    transition: transform .5s, background .5s;
    pointer-events: none;

    &:hover{
        transform: scale(.95);
        background: linear-gradient(45deg, #5507be, #0a9eab) border-box;
    }

    &__photo{
        height: 600px;
        object-fit: contain;
    }

    @keyframes show-photo {
        from{
            transform: translateX(-800px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.contact{
    display: flex;
    padding: 5px 0;

    &__text{
        display: flex;
        padding: 5px 7px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        background: transparent;
        transform: scale(1);
        cursor: pointer;
        user-select: none;
        z-index: 2;
        transition: box-shadow .5s, transform .5s;

        &:hover{
            box-shadow: 3px 3px 5px #ffffff;
        }

        &:active{
            transform: scale(0.95);
        }

        &:hover .contact__cross{
            transform: translateX(5px);
        }
    }

    &__cross{
        transform: translateX(0);
        transition: transform .5s;
    }

    &__info{
        padding: 7px 0;
        position: absolute;
        left: 20%;
        visibility: hidden;
        transform: translateX(-525px);
        opacity: 0;
        user-select: text;
        transition: .5s;
        z-index: 1;

        &.active{
            visibility: visible;
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.click-about{
    position: absolute;
    top: 20px;
    left: 120px;

    &__arrow{
        width: 20px;
        height: 20px;
        fill: #ffffff;
        transform: rotate(100deg);
    }

    &__text{
        color: #ffffff;
    }
}

.follow{
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    &__text{
        line-height: 24px;
        letter-spacing: 1.5px;
        user-select: none;
    }

    &__line{
        border: 1px solid #ffffff;
        width: 20px;
        margin: 0 10px;
    }

    &-links{
        &__link{
            margin: 0 5px;
        }

        &__svg{
            transition: fill .2s;
        }

        &__icon{
            transform: translateY(0);
            transition: transform .5s;

            &:hover{
                transform: translateY(-5px);

                .follow{
                    &-links{
                        &__svg--git{
                            fill: #3b0098;
                        }
                        &__svg--instagram{
                            fill: #b93800;
                        }
                        &__svg--vk{
                            fill: #0b43a2;
                        }
                        &__svg--linkedIn{
                            fill: #0092c7;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1230px) {
    .about{
        &__description{
            font-size: 22px;
        }

        &__info{
            max-width: 500px;
            width: 100%;
        }
    }

    .contact{
        &__info{
            padding: 7px 10px;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 925px) {
    .about{
        &__me{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__description{
            font-size: 22px;
        }

        &__info{
            max-width: 550px;
            width: 100%;
        }

        &__name{
            text-align: center;
        }
        
        &__position{
            text-align: center;
        }
    }

    .contact{
        &__info{
            padding: 7px 0;
            font-size: 24px;
        }
    }

    .click-about {
        position: relative;
        top: -5px;
        left: 220px;
    }
}

@media screen and (max-width: 450px) {
    .about{
        &__info{
            max-width: 300px;
        }

        &__photo{
            width: 300px;
            height: 400px;
        }
    }

    .contact{

        &__text{
            padding: 7px 3px;
            font-size: 14px;
        }

        &__info{
            padding: 7px 10px;
            font-size: 16px;

            &.active{
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .click-about {
        left: 50px;
    }
}

