.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    color: #ffffff;
    background: rgba(0,0,0,0.8);

    &-enter {
        opacity: 0;
    }
    
    &-enter-active {
        opacity: 1;
        background: rgba(0,0,0,0.8);
        transition: opacity 1s, background 1s;
    }
    
    &-enter-done{
        background: rgba(0,0,0,0.8);
    }
    
    &-exit {
        opacity: 1;
        background: rgba(0,0,0,0.8);
    }
    
    &-exit-active {
        opacity: 0;
        background: transparent;
        transition: opacity 1s, background 1s;
    }

    &__container{
        max-width: 500px;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 6;
        cursor: default;
        user-select: none;
    }

    &__me{
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__photo{
        object-fit: cover;
        max-width: 500px;
        width: 100%;
        height: 500px;
        border-radius: 50%;
        border: 8px solid transparent;
        z-index: 8;
        cursor: pointer;
        background: linear-gradient(45deg, #9219b6, #055b0e) border-box;
        pointer-events: none;
    }

    &__links{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }

    &__social-link{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        width: 80px;
        height: 80px;
        border: 4px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50%;
        cursor: pointer;
        z-index: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        opacity: 1;

        &.left{
            transform: translate(-350px, -50%);        
            animation: link-left 1s ease-in-out;
        }

        @keyframes link-left {
            from{transform: translate(-50%, -50%); opacity: 0}
            to{transform: translate(-350px, -50%); opacity: 1}
        }

        &.down{
            transform: translate(-50%, 270px);       
            animation: link-down 1s ease-in-out;
        }

        @keyframes link-down{
            from{transform: translate(-50%, -50%); opacity: 0}
            to{transform: translate(-50%, 270px); opacity: 1}
        }

        &.right{
            transform: translate(270px, -50%);
            animation: link-right 1s ease-in-out;
        }

        @keyframes link-right {
            from{transform: translate(-50%, -50%); opacity: 0}
            to{transform: translate(270px, -50%); opacity: 1}
        }

        &.up{
            transform: translate(-50%, -350px);
            animation: link-up 1s ease-in-out;
        }

        @keyframes link-up {
            from{transform: translate(-50%, -50%); opacity: 0}
            to{transform: translate(-50%, -350px); opacity: 1}
        }

        svg .modal__social-icon{
            fill: #ffffff;
            transition: fill .5s;
        }

        &--vk{
            &:hover{
            border: 4px solid #00c3ff;
            }
        }
        
        &:hover svg .modal__social-icon--vk {
            fill: #00c3ff;
        }

        &--vk{
            &:active{
            border: 4px solid #0051ff;
            }
        }
        
        &:active svg .modal__social-icon--vk {
            fill: #0051ff;
        }

        &--git{
            &:hover{
            border: 4px solid #370a8a;
            }
        }
        
        &:hover svg .modal__social-icon--git {
            fill: #370a8a;
        }

        &--git{
            &:active{
            border: 4px solid #0a5510;
            }
        }
        
        &:active svg .modal__social-icon--git {
            fill: #0a5510;
        }

        &--instagram{
            &:hover{
            border: 4px solid #cf6711;
            }
        }
        
        &:hover svg .modal__social-icon--instagram {
            fill: #cf6711;
        }

        &--instagram{
            &:active{
            border: 4px solid #ad0090;
            }
        }
        
        &:active svg .modal__social-icon--instagram {
            fill: #ad0090;
        }

        &--linkedIn{
            &:hover{
            border: 4px solid #2600ff;
            }
        }
        
        &:hover svg .modal__social-icon--linkedIn {
            fill: #2600ff;
        }

        &--linkedIn{
            &:active{
            border: 4px solid #00ccff;
            }
        }
        
        &:active svg .modal__social-icon--linkedIn {
            fill: #00ccff;
        }
    }
}

.photos{

    &__photo{
        object-fit: cover;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid transparent;
        transition: .5s;
        cursor: grab;
        pointer-events: none;
    }

    &__first{
        width: 300px;
        height: 300px;
        transform: translate(-700px, -325px) scale(1);
        opacity: 1;
        background: linear-gradient(45deg, #054083, #069f72) border-box;
        animation: photo-one .5s ease-in-out;

        &:hover{
            transform: translate(-700px, -325px) scale(1.5);
        }
    }

    @keyframes photo-one {
        from{
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        to{
            transform: translate(-700px, -325px);
            opacity: 1;
        }
    }

    &__second{
        transform: translate(400px, -450px) scale(1);
        opacity: 1;
        width: 400px;
        height: 400px;
        background: linear-gradient(45deg, #d23a03, #1dd50a) border-box;
        animation: photo-two .5s ease-in-out;

        &:hover{
            transform: translate(400px, -450px) scale(1.2);
        }
    }

    @keyframes photo-two {
        from{
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        to{
            transform: translate(400px, -450px);
            opacity: 1;
        }
    }

    &__third{
        transform: translate(-630px, 150px) scale(1);
        opacity: 1;
        width: 200px;
        height: 200px;
        background: linear-gradient(45deg, #c7030b, #0a5bab) border-box;
        animation: photo-three .5s ease-in-out;

        &:hover{
            transform:  translate(-630px, 150px) scale(2.5);
        }
    }

    @keyframes photo-three {
        from{
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        to{
            transform: translate(-630px, 150px);
            opacity: 1;
        }
    }

    &__fourth{
        transform: translate(350px, 75px) scale(1);
        opacity: 1;
        width: 350px;
        height: 350px;
        background: linear-gradient(45deg, #e3c305, #038ad0) border-box;
        animation: photo-four .5s ease-in-out;

        &:hover{
            transform: translate(350px, 75px) scale(1.3);
        }
    }

    @keyframes photo-four {
        from{
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        to{
            transform: translate(350px, 75px);
            opacity: 1;
        }
    }
}

.click{
    opacity: 0;
    position: absolute;
    top: 50px;
    left: -20px;
    transition: opacity 1s;

    &--active{
        opacity: 1;
    }

    &__text{
        position: relative;
        right: 25px;
    }

    &__arrow{
        fill: #ffffff;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 925px) {
    .modal{
        &__container{
            max-width: 300px;
        }

        &__photo{
            max-width: 300px;
            height: 300px;
        }

        &__social-link{
            &.left{
                transform: translate(-250px, -50%);
                animation: link-left 1s ease-in-out;   
            }

            @keyframes link-left {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-250px, -50%); opacity: 1}
            }

            &.down{
                transform: translate(-50%, 170px);       
                animation: link-down 1s ease-in-out;
            }
    
            @keyframes link-down{
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-50%, 170px); opacity: 1}
            }
    
            &.right{
                transform: translate(170px, -50%);
                animation: link-right 1s ease-in-out;
            }
    
            @keyframes link-right {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(170px, -50%); opacity: 1}
            }
    
            &.up{
                transform: translate(-50%, -250px);
                animation: link-up 1s ease-in-out;
            }

            @keyframes link-up {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-50%, -250px); opacity: 1}
            }
        }
    }

    .click {
        left: -60px;
    }
}

@media screen and (max-width: 450px) {
    .modal{
        &__container{
            max-width: 150px;
        }

        &__photo{
            max-width: 150px;
            height: 150px;
        }

        &__social-link{
            &.left{
                transform: translate(-170px, -50%);
                animation: link-left 1s ease-in-out;   
            }

            @keyframes link-left {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-170px, -50%); opacity: 1}
            }

            &.down{
                transform: translate(-50%, 90px);       
                animation: link-down 1s ease-in-out;
            }
    
            @keyframes link-down{
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-50%, 90px); opacity: 1}
            }
    
            &.right{
                transform: translate(90px, -50%);
                animation: link-right 1s ease-in-out;
            }
    
            @keyframes link-right {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(90px, -50%); opacity: 1}
            }
    
            &.up{
                transform: translate(-50%, -170px);
                animation: link-up 1s ease-in-out;
            }

            @keyframes link-up {
                from{transform: translate(-50%, -50%); opacity: 0}
                to{transform: translate(-50%, -170px); opacity: 1}
            }
        }
    }

    .click {
        top: 10px;
        left: -20px;

        &__text{
            right: 20px;
            font-size: 10px;
        }

        &__arrow{
            width: 20px;
            height: 20px;
        }
    }
}

