.footer{
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.97);
    padding: 10px 0;
    border-top: 1px solid #818181;

    &__container{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
    }

    &__link{
        color: #ffffff;
        text-decoration: none;
        outline: none;
        transition: color .5s;

        &:hover{
            color: #bb2803;
        }
    }
}

@media screen and (max-width: 450px) {
    .footer{
        &__container{
            font-size: 14px;
            font-weight: 500;
            padding: 15px 0;
        }
    }
}